<footer class="footer">
    <div>
        使用している統計データについては
        <a href="https://qiita.com/aikit0846/items/630973e899e0a44972a6" target="_blank">こちら</a>
    </div>
    <small>
        tkg-reis.app
    </small>
</footer>